/* --------------------------------- IMPORT TAILWIND CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* VARIABLES */
:root {
  --primaryRed: #E70013; 
  --primaryBlue: #022B52;
}

/* ------------ FONT IMPORTS FOR TAILWIND - ADDED IN TAILWIND.CONFIG.JS */
@font-face {
  font-family: "VisitDenmark-Bold";
  src: url("../src/assets/fonts/VisitDenmark-Bold.otf");
}

@font-face {
  font-family: "VisitDenmark-Regular";
  src: url("../src/assets/fonts/VisitDenmark-Regular.otf");
}

@font-face {
  font-family: "VisitDenmark-ExtraBold";
  src: url("../src/assets/fonts/VisitDenmark-ExtraBold.otf");
}

@font-face {
  font-family: "VisitDenmark-Medium";
  src: url("../src/assets/fonts/VisitDenmark-Medium.otf");
}

@font-face {
  font-family: "VisitDenmark-SemiBold";
  src: url("../src/assets/fonts/VisitDenmark-SemiBold.otf");
}

@font-face {
  font-family: "VisitDenmark-Outline-Medium";
  src: url("../src/assets/fonts/VisitDenmark-Outline-Medium.otf");
}

@font-face {
  font-family: "VisitDenmark-Outline-Regular";
  src: url("../src/assets/fonts/VisitDenmark-Outline-Regular.otf");
}

/* ----------------------- NAVBAR LANGUAGE -------------------------*/
.languageShow{
  z-index: 999;
  background-color: white;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.languageHidden{
  display: none;
}

/* --------------------- ACTIVE NAV LINKS ---------------------------  */ 
.active{
  color: var(--primaryRed);
}

/* SWIPER */
/* --------------- BIG CAROUSEL SWIPER.JS ----------------- */
.carouselSection {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-container p {
  margin-bottom: 0px !important;
}

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  min-height: 25vh;
  width: 100%;
  color: white;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: white !important;
}

.swiper-container {
  width: 100%;
}
  
.outlineBox{
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  outline: 3px solid white;
  outline-offset: -10px;
}

.smallSwiper .swiper-slide {
  /* Center slide text vertically */
  display: flex;
  min-height: 7rem;
  color: white;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.smallSwiper .swiper-slide:first-child {
  margin-left: 1.5rem;
}

.citySwiper .swiper-slide:first-child {
  margin-left: 1.5rem;
}

/* restaurant page*/
.restaurantDesc{
  max-width: 60ch;
}

/* MAPBOX */
.map-container {
  width: 100%;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 3 !important;
  padding: 6px;
  font-weight: bold;
}

/* MAPBOX */  
#map{
  width: 100%;
  height: 20rem;
  margin-right: auto;
  margin-left: auto;
}


/* Avatars in my trips */
.avatars-trips{
  margin-right: -10px;
}

.horizontalline{
  color: #CED2D3;
}

/*-------Categories-------*/

.ExploreImages {
  padding-bottom: 1.5rem;
}

.search input{
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  width: 100%;
  padding-bottom: 10px;
}



.buttonsSelected {
  min-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--primaryBlue) !important; 
}

.buttonschange {
  min-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primaryBlue) !important;
  background-color: #CED2D3 !important;
}

.swiperExplore .swiper-slide {
  min-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--primaryBlue); 
}

.swiperExplore .swiper-slide .swiper-slide-active {
  margin: 0;
}

.swiperExplore .swiper-slide:first-child{
  margin-left: 1.5rem;
}

/* plusbutton */
.button-plus{
  position: fixed;
  right: 2vw;
  bottom: 100px;
}

.underline-button-text{
  position:relative;
  padding-bottom:14px;
  display:inline-block;
  border-bottom:2px solid var(--primaryBlue);
}  
